 <div class="ui-grid-row">
    <div class="ui-grid-col-12">        
        <section class="prf-box">
            <div class="content">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-bx">
                            <div class="card-header hd-box" data-background-color="blue">
                                <!-- <h4 class="title">Edit Profile</h4> -->
                                <p class="category">Update your Profile</p>
                            </div>
                            <div class="card-content">
                                <form [formGroup]="updateForm" (ngSubmit)="updateUserInfo()">
                                    <div class="row">
                                        <div class="col-md-12 file-img">
                                            <div class="file-field">
                                                <div class="mb-4">
                                                    <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="rounded-circle z-depth-1-half avatar-pic">
                                                </div>
                                                <div class="d-flex justify-content-center">
                                                    <div class="btn btn-mdb-color btn-rounded" style="background-color: #18d26e;">
                                                        <span >Add photo</span>
                                                        <input type="file">
                                                    </div>
                                                </div>
                                            </div>    
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                              <span class="input input--hoshi">
                                                  <input class="input__field input__field--hoshi" type="text" id="input-1" formControlName="firstName"  [(ngModel)]="updateDetails.firstName" style="border: 0px solid transparent !important;">
                                                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                                                      <span class="input__label-content input__label-content--hoshi">    
                                                          First Name
                                                      </span>
                                                </label>
                                              </span>
                                              <!-- <div style="color:red" *ngIf="!updateForm.controls['firstName'].valid&&updateForm.controls['firstName'].dirty">
                                    First Name is required
                                </div> -->
                                      <div style="color:red" *ngIf="!updateForm.controls['firstName'].valid&&updateForm.controls['firstName'].dirty">
                                <span *ngIf="updateForm.controls['firstName'].errors['required']">First name is required</span>
                                <span *ngIf="updateForm.controls['firstName'].errors['minlength']">First name must be at least 3 characters</span>
                                <span *ngIf="updateForm.controls['firstName'].errors['pattern']&&!updateForm.controls['firstName'].errors['minlength']">First name should be alphabet </span>
                            </div>
                                        </div>
                                        <div class="col-md-6">
                                              <span class="input input--hoshi">
                                                  <input class="input__field input__field--hoshi" type="text" id="input-2" formControlName="lastName"  [(ngModel)]="updateDetails.lastName" style="border: 0px solid transparent !important;">
                                                  <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-5">
                                                      <span class="input__label-content input__label-content--hoshi">
                                                          Last Name
                                                      </span>

                                                  </label>
                                              </span>
                                              <!-- <div style="color:red" *ngIf="!updateForm.controls['lastName'].valid&&updateForm.controls['lastName'].dirty">
                                    Last Name is required
                                </div> -->

                              <div style="color:red" *ngIf="!updateForm.controls['lastName'].valid&&updateForm.controls['lastName'].dirty">
                                <span *ngIf="updateForm.controls['lastName'].errors['required']">Last name is required</span>
                                <span *ngIf="updateForm.controls['lastName'].errors['minlength']">Last name must be at least 3 characters</span>
                                <span *ngIf="updateForm.controls['lastName'].errors['pattern']&&!updateForm.controls['lastName'].errors['minlength']">Last name should be alphabet </span>
                            </div>
                                        </div>
                                    </div>
                                 
                                    <div class="row">
                                        <div class="col-md-6">
                                             <span class="input input--hoshi">
                                                <input class="input__field input__field--hoshi" type="text" disabled="" id="input-3" formControlName="email"  [(ngModel)]="updateDetails.email" style="border: 0px solid transparent !important;">
                                                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                                                    <span class="input__label-content pd-align input__label-content--hoshi" style="margin-top: -27px !important;">    
                                                       Email
                                                    </span>
                                                </label>
                                            </span>
                                        </div>
                                        
                                    </div>
                                    <button type="submit" class="btn btn-primary sub-pro "  [disabled]="!updateForm.valid">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>  
        </section>        
    </div>
</div>
