<!-- <div class="sidebar-wrapper cus-tx">
    <div class="logo">
        <a href="#" class="simple-text">            
            <img src="../../assets/images/icon.png" alt="">                   
        </a>        
    </div>

    <ul class="nav">
            <li *ngIf="accountType">
                
                <button class="btn btn-info btn-fill btn-wd btn-cus" type="submit" (click)="genrateIco()">Generate ICO</button>
            </li>
     
            <li class="dropdown" *ngIf="isNotMobileMenu()">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       <p class="notification">YOUR ETH AMOUNT = </p>
                        <p>1.0009</p>
                        <b class="caret"></b>
                  </a>
                
            </li>
      
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
            

        </li>
           <li >                
                <button class="btn btn-info btn-fill btn-wd btn-cus" type="submit" (click)="invest_ICO()">Invest ICO</button>
            </li>
    </ul>
</div>
 -->

 <div class="sidebar-wrapper cus-tx">
    <div class="logo text-center">
        <a  [routerLink]="['/home']" class="simple-text">            
           <!--  <img src="../../assets/images/icon.png" alt=""> -->  
            <img src="assets/images/icon.png" alt="">                  
        </a>        
    </div>
    <a  class="text-center amt-txt" >
       <p class="text-center">ETH<span>0.000</span></p>
    </a>
    <div class="ui-grid-col">              
        <button class="btn btn-info btn-fill btn-wd btn-cus btn-ty" type="submit" (click)="deposite()">Deposit</button>
    </div>
     <div class="ui-grid-col" >               
        <button class="btn btn-info btn-fill btn-wd btn-cus btn-ty" type="submit" (click)="withdraw()">Withdraw</button>
    </div> 
     <div class="btn-grop-dash" *ngIf="accountType">
        <button class="btn btn-info btn-fill btn-wd btn-cus1" style="background-color: #74B1FF" type="submit"  (click)="genrateIco()" >Generate ICO</button> 
     <div class="br-line-dash"><p>Or</p></div>   
    </div>
    <div class="btn-grop-dash" >
    <button class="btn btn-info btn-fill btn-wd btn-cus1" style="background-color: #74B1FF;margin-bottom:30px;" type="submit"  (click)="InvestIco()">Invest ICO</button>
    </div>    

    <ul class="nav sd-na">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
                
                <p [routerLink]="[menuItem.path]">
                    <i class="{{menuItem.icon}}"></i>
                    <a class="clr">{{menuItem.title}}</a>
                </p>          

            </li>
            
        </ul>
         
    </div>
