<div id="fullscreen_bg" class="fullscreen_bg" style="background-image:url('./assets/images/loginpage.jpg');">
		<a><h1><img src="./assets/images/logo.png" [routerLink]="['/home']" style="cursor: pointer;"></h1></a>
	<div class="profile">
		<div class="wrap">
			<div class="content-main">
				<div class="w3ls-subscribe w3ls-subscribe1">
					<h4>Reset Password </h4>
					<p>Please provide the email address. We will send you a link that will allow you to reset your password.</p>

					   <form [formGroup]="forgotPsswordForm">                        
                        <div class="form-group" >                           
             <input type="email" class="form-control" placeholder="Email" formControlName="email" [(ngModel)]="forgotPasswordDetail.email"  required />
          <div *ngIf="!forgotPsswordForm.controls['email'].valid&&forgotPsswordForm.controls['email'].dirty" class="help-block"> <span style="color:red;">Email is required</span></div>
                        </div>
                         <button pButton type="submit" style="width:131px;height:50px;" (click)="forgotPassword(forgotPsswordForm.value)" class="ui-button-secondary login-btn" label="Send" [disabled]="!forgotPsswordForm.valid" ></button><br>
                                 <div class="row" style="margin-top: 30px;">
                                                 <p style="margin : 0px;line-height:0px;">
                                                    <a [routerLink]="['/login']" style="line-height: 0px;color: #fff;">Login ?</a></p> 
                                                </div>
                        <br><br>                       
                    </form>
					
				</div>
			</div>
			
			<div class="wthree_footer_copy">
				<p>© 2018 Cryptual. All rights reserved </p>
			</div>
	</div>


</div>
